<td>
    <button class="btn btn-mini edit display-mode" title="Edit Category"><i class="icon-edit"></i></button>
    <button class="btn btn-mini btn-danger remove display-mode" title="Delete Category"><i class="icon-trash icon-white"></i></button>
    <button class="btn btn-mini btn-success save edit-mode">Save</button>
    <button class="btn btn-mini cancel edit-mode">Cancel</button>
</td>
<td>
    <span class="display-mode">{{category1}}</span>
    <input type="text" name="category1" required class="category1 input-xlarge edit-mode" value="{{category1}}" /></td>
<td>
    <span class="display-mode">{{category2}}</span>
    <input type="text" name="category2" required class="category2 input-xlarge edit-mode" value="{{category2}}" /></td>
</td>