<td>
    <button class="btn btn-mini edit display-mode" title="Edit House"><i class="icon-edit"></i></button>
    <button class="btn btn-mini btn-danger remove display-mode" title="Delete House"><i class="icon-trash icon-white"></i></button>
    <button class="btn btn-mini btn-success save edit-mode">Save</button>
    <button class="btn btn-mini cancel edit-mode">Cancel</button>
</td>
<td>
    <span class="display-mode">{{name}}</span>
    <input type="text" name="name" required class="name input-xlarge edit-mode" value="{{name}}" /></td>
<td>
    <div style="position: relative;">
	    <span class="color display-mode">{{color}}</span>
	    <input type="color" class="color edit-mode" name="color" value="{{color}}" />
    </div>
</td>