<td>
    <button class="btn btn-mini edit display-mode" title="Edit Setting"><i class="icon-edit"></i></button>
    <button class="btn btn-mini btn-success save edit-mode">Save</button>
    <button class="btn btn-mini cancel edit-mode">Cancel</button>
</td>
<td>{{name}}</td>
<td>
    <span class="display-mode">{{value}}</span>
	<input type="text" class="value edit-mode" name="value" required value="{{value}}" />
</td>