<h3 class="text-center">{{title}}</h3>
<ul>
    {{#each breakout}}
	<li class="breakout">
	   <strong>{{this.name}}</strong><span class="pull-right">{{this.points}}</span>
	</li>
	{{/each}}
</ul>
