body {
	padding-top: 40px;
}

.navbar-inner {	
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
	        border-radius: 0;
}

@media all {

    .scrollable {
        overflow                    : scroll;
        -webkit-overflow-scrolling  : touch;
    }

    .name-dsp {
    	font-size: 60px;
		line-height: 80px;
    }
    
    .points-dsp {
    	font-size: 80px;
		line-height: 100px;
		letter-spacing: 20px;
    }

} /* end of media all */

/*--- ipad ---*/
/*--- full screen mode ---*/
@media (device-width: 768px) and (orientation: portrait) {
    .panel {
        height                      : 934px; /*1004-80*/
    }
}
/*--- browser mode ---*/
@media (device-width: 768px) and (orientation: landscape) {
    
}

/*--- iphone ---*/
/*--- full screen mode ---*/
@media (max-width: 480px) and (orientation: portrait) {
	
    .name-dsp {
    	font-size: 30px;
		line-height: 40px;
    }
    
    .points-dsp {
    	font-size: 50px;
		line-height: 60px;
		letter-spacing: 5px;
    }
}
/*--- browser mode ---*/
@media (max-width: 480px) and (orientation: landscape) {
	.name-dsp {
    	font-size: 30px;
		line-height: 40px;
    }
    
	.points-dsp {
    	font-size: 60px;
		line-height: 60px;
		letter-spacing: 5px;
    }
}
    
.user-actions {
	text-align: right;
}

.house {
	margin: 10px 0;
	cursor: default;
	-webkit-user-select: none;  
	   -moz-user-select: none;    
	    -ms-user-select: none;      
	        user-select: none;
	
}

/*
.bradbury {
	background-color: #595959;
	background-color: hsl(0, 0%, 35%);
	color: #fff;
}

.bradbury:hover {
	background-color: #666666;
	background-color: hsl(0, 0%, 40%);
}

.carroll {
	background-color: #FFFF00;
	background-color: hsl(60, 100%, 50%);
}

.carroll:hover {
	background-color: #F5F500;
	background-color: hsl(60, 100%, 48%);
}

.poe {
	background-color: #E6E6E6;
	background-color: hsl(0, 0%, 90%);
}

.poe:hover {
	background-color: #CCCCCC;
	background-color: hsl(0, 0%, 80%);
}

.stoker {
	background-color: #009900;
	background-color: hsl(120, 100%, 30%);
	color: #fff;
}

.stoker:hover {
	background-color: #00B300;
	background-color: hsl(120, 100%, 35%);
}

*/
.house-row {
	margin-bottom: 10px;
}

.name-dsp {
	display: block;
	text-align: center;
}

.points-dsp {
	display: block;
	text-align: right;
	background-color: #fff;
	font-family: "Arial Black", Gadget, sans-serif;
	color: #000;
	opacity: .8;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; 
	filter: alpha(opacity=80);
}

.clickable {
	cursor: pointer;
	-webkit-transition: background 0.1s ease;
	   -moz-transition: background 0.1s ease;
	    -ms-transition: background 0.1s ease;
	     -o-transition: background 0.1s ease;
	        transition: background 0.1s ease;
}

.points-input {
	text-align: right;
	
}

.blurg {
	color: white;
}

.config table {
	width: auto;
}

table tbody .checkbox-centered {
	text-align: center;
	vertical-align: middle;
}

.stat {
	box-shadow: inset 0 0 8px #222;
	margin: 10px;
}

.stat ul {
	list-style: none;
	margin: 10px;
	height: 80px;
	width: 160px;
}